/* ############################################################
#########               CSS SMARTPHONE                #########
##############################################################*/

@media screen and (min-width: 150px) and (max-width: 450px){

body {
background-color: #34495e;
font-family: Coda;
}

/* Titres H1 */

h1 {
  width: 280px;
  margin: 20px auto 15px auto;
color: #ffffff;
font-size: 2.6em;
}

/* Navigation */

.nav_index{
display: block;
width: 280px;
margin: 10px auto 0 auto;
}

/* Liens */

a {
text-decoration: none;
color: #fff;
}

/* Pour enlever les pointillés lors du clic */

a:focus{
outline:0;
}

/* Positionnement et taille images */

img{
display: inline-block;
width: 135px ;
height: 105px ;
}

#img2, #img4{
float: right;
}

/* Transitions images index */

.transistion_des_images {
  position:relative;
  height:105px;
  width:135px;
  margin:1px;
  display: inline-block;
}

.transistion_des_images img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.transistion_des_images .top:hover {
  opacity:0;
}
}

/* ############################################################
#########                CSS PC BUREAU                #########
##############################################################*/

@media screen and (min-width: 900px){

body {
background-color: #34495e;
font-family: Coda;
}

/* Titres H1 */

h1 {
  width: 450px;
  margin: 50px auto 40px auto;
color: #ffffff;
font-size: 4.3em;
}

/* Navigation */

.nav_index{
display: block;
width: 480px;
margin: 80px auto 0 auto;
font-family: arial;
font-size: 1.2em;
}

/* Liens */

a {
text-decoration: none;
color: #fff;
}

/* Pour enlever les pointillés lors du clic */

a:focus{
outline:0;
}

/* Positionnement et taille images */

img{
display: inline-block;
width: 225px ;
height: 175px ;
}

#img2, #img4{
float: right;
}

/* Transitions images index */

.transistion_des_images {
  position:relative;
  height:175px;
  width:225px;
  margin:5px;
  display: inline-block;
}

.transistion_des_images img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.transistion_des_images .top:hover {
  opacity:0;
}
}

/* ############################################################
#########                CSS TABLETTES                #########
##############################################################*/


@media screen and (min-width: 451px) and (max-width: 899px){

body {
background-color: #34495e;
font-family: Coda;
}

/* Titres H1 */

h1 {
  width: 425px;
  margin: 30px auto 15px auto;
color: #ffffff;
font-size: 4em;
}

/* Navigation */

.nav_index{
display: block;
width: 425px;
margin: 10% auto 0 auto;
}

/* Liens */

a {
text-decoration: none;
color: #fff;
}

/* Pour enlever les pointillés lors du clic */

a:focus{
outline:0;
}

/* Positionnement et taille images */

img{
display: inline-block;
width: 205px ;
height: 160px ;
}

#img2, #img4{
float: right;
}

/* Transitions images index */

.transistion_des_images {
  position:relative;
  height:160px;
  width:205px;
  margin:3px;
  display: inline-block;
}

.transistion_des_images img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.transistion_des_images .top:hover {
  opacity:0;
}
}
